* {
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
}

.mapa{
	width: 100%;
	height: 170px;
}
a {
	text-decoration: none;
	color: #fdca40;
}
a:hover{
	color:  black;
}
#main-index {
 background-image: url("https://images.unsplash.com/photo-1491924778227-f225b115dd5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
#gotas{
	padding: 50px 0px;
}
#txt-index{
	margin-bottom: 150px;
}